body {
    background-color: rgb(148, 182, 214);
}
h1 {
    color: black;
    font-family: Arial;
    text-align: center;
    font-size: 64px;
}
h2 {
    color: black;
    font-family: Arial;
    font-size: 32px;
    margin-left: 20px;
}
p {
    color: rgb(0,0,0);
    font-family: Arial;
    font-size: 16px;
    margin-left: 20px;
}
a {
    color: black;
    font-family: Arial;
    font-size: 16px;
    margin-left: 20px;
}
